.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(to bottom right, #e0f7fa, #ffffff);
}

.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.button {
    -fx-background-color: #00bcd4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-pref-width: 130;
    -fx-pref-height: 40;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3, 0.2, 0, 2);
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #0097a7;
}
